@import "variables.scss";
@import "mixins.scss";

.middle{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    .phone{
        margin: 0 auto;
        img{
            max-height: 519px;
            max-width: 320px;
            margin-top: -95.5px;
            position: relative;
            z-index: 10;
        }
    }
    .article{
        margin: 0 auto;
        padding: 0 16px 0 16px;
        display: flex;
        flex-flow: column;
        h2{
            @include titles-all;
            margin-top: 27px;
            margin-bottom: 0;
            color: #060A24;
        }
        .paragraphs{
            margin: 0;
            padding: 0;
            margin-top: 8px;
            p{
                @include general-all;
                margin: 0;
                padding: 0;
            }
            .second{
                margin-top: 12px;
            }
        }
    }
}
@media screen and (min-width: 1440px){
    .middle{
        margin: 0 auto;
        flex-flow: row;
        justify-content: center;
        .phone{
            width: 457.6px;
            margin-right: 62.4px;
            margin-left: 200px;
            img{
                max-height: 660px;
                max-width: 457.6px;
                margin-top: -168.6px;
            }
        }
        .article{
            max-width: 464px;
            margin-right: 256px;
        }
    }
}
