@import "variables.scss";
@import "mixins.scss";

.middle{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
   // transform: translateY(-95.5px);
    .phone{
        margin: 0 auto;
        img{
            max-height: 519px;
            max-width: 320px;
            margin-top: -95.5px;
            position: relative;
            z-index: 10;
            
        }
    }
    article{
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        padding-left: 16px;
        padding-right: 16px;
        h2{
            @include titles-all;
            margin-top: 27px;
            margin-bottom: 0;
            color: #060A24;
        }
        .paragraphs{
            margin: 0;
            padding: 0;
            margin-top: 8px;
            p{
                @include general-all;
                margin: 0;
                padding: 0;
            }
            .second{
                margin-top: 12px;
            }
        }

    }
}