@import "variables.scss";
@import "mixins.scss";

.others{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    h2{
        @include titles-all;
        margin-top: 48px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 37px;
    }
    .topic{
        text-align: center;
        margin-bottom: 65px;
        img{
            max-width: 104px;
            max-height: 104px;
            margin-bottom: 13px;
        }
        h3{
            font-family: $font-fam-title;
            font-size: 24px;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            margin: 0;
        }
    }
    .one{
        margin-bottom: 49px;
    }
    .fourth{
        margin-bottom: 42px;
    }
}
@media screen and (min-width: 700px){
    .others{
        margin-bottom: 34px;
        .container{
            display: flex;
            flex-flow: row wrap;
            margin: 0 auto;
            .topic{
                width:160px;
                margin-bottom: 0;
                img{
                    margin-bottom: 29px;
                }
                h3{
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px){ 
    .others{
        margin-bottom: 34px;
        h2{
            margin-top: 64px;
            margin-left: 200px;
            margin-bottom: 56px;
            max-height: 62px;
            max-width: 586px;
        }
        .container{
            display: flex;
            flex-flow: row wrap;
            margin-left: 200px;
            .topic{
                width:260px;
                height: 197px;
                margin-bottom: 0;
                img{
                    margin-bottom: 29px;
                }
                h3{
                    font-size: 24px;
                }
            }
        }

    }
}
